<project>
  <files
    default_encoding="UTF-8"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="Python"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="node_modules"
        excluded="true">
        <dir
          name="@mongodb-js">
          <dir
            name="saslprep">
            <dir
              name="dist"/>
          </dir>
        </dir>
        <dir
          name="@remix-run">
          <dir
            name="router">
            <dir
              name="dist"/>
          </dir>
        </dir>
        <dir
          name="@types">
          <dir
            name="webidl-conversions"/>
          <dir
            name="whatwg-url">
            <dir
              name="lib"/>
          </dir>
        </dir>
        <dir
          name="accepts"/>
        <dir
          name="ansi-regex"/>
        <dir
          name="ansi-styles"/>
        <dir
          name="append-field">
          <dir
            name="lib"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="array-flatten"/>
        <dir
          name="bcryptjs">
          <dir
            name="dist"/>
          <dir
            name="externs"/>
          <dir
            name="scripts"/>
          <dir
            name="src">
            <dir
              name="bcrypt">
              <dir
                name="prng"/>
              <dir
                name="util"/>
            </dir>
          </dir>
          <dir
            name="tests"/>
        </dir>
        <dir
          name="body-parser">
          <dir
            name="lib">
            <dir
              name="types"/>
          </dir>
        </dir>
        <dir
          name="bson">
          <dir
            name="etc"/>
          <dir
            name="lib"/>
          <dir
            name="src">
            <dir
              name="parser">
              <dir
                name="on_demand"/>
            </dir>
            <dir
              name="utils"/>
          </dir>
          <dir
            name="vendor">
            <dir
              name="base64"/>
            <dir
              name="text-encoding">
              <dir
                name="lib"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="buffer-equal-constant-time"/>
        <dir
          name="buffer-from"/>
        <dir
          name="busboy">
          <dir
            name="bench"/>
          <dir
            name="lib">
            <dir
              name="types"/>
          </dir>
          <dir
            name="test"/>
        </dir>
        <dir
          name="bytes"/>
        <dir
          name="call-bind-apply-helpers">
          <dir
            name="test"/>
        </dir>
        <dir
          name="call-bound">
          <dir
            name="test"/>
        </dir>
        <dir
          name="chalk">
          <dir
            name="node_modules">
            <dir
              name="supports-color"/>
          </dir>
          <dir
            name="source"/>
        </dir>
        <dir
          name="cliui">
          <dir
            name="build">
            <dir
              name="lib"/>
          </dir>
        </dir>
        <dir
          name="color-convert"/>
        <dir
          name="color-name"/>
        <dir
          name="concat-stream"/>
        <dir
          name="concurrently">
          <dir
            name="dist">
            <dir
              name="bin"/>
            <dir
              name="src">
              <dir
                name="command-parser"/>
              <dir
                name="flow-control"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="content-disposition"/>
        <dir
          name="content-type"/>
        <dir
          name="cookie"/>
        <dir
          name="cookie-parser"/>
        <dir
          name="cookie-signature"/>
        <dir
          name="core-util-is">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="debug">
          <dir
            name="src"/>
        </dir>
        <dir
          name="depd">
          <dir
            name="lib">
            <dir
              name="browser"/>
          </dir>
        </dir>
        <dir
          name="destroy"/>
        <dir
          name="dotenv">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="dunder-proto">
          <dir
            name="test"/>
        </dir>
        <dir
          name="ecdsa-sig-formatter">
          <dir
            name="src"/>
        </dir>
        <dir
          name="ee-first"/>
        <dir
          name="emoji-regex">
          <dir
            name="es2015"/>
        </dir>
        <dir
          name="encodeurl"/>
        <dir
          name="es-define-property">
          <dir
            name="test"/>
        </dir>
        <dir
          name="es-errors">
          <dir
            name="test"/>
        </dir>
        <dir
          name="es-object-atoms">
          <dir
            name="test"/>
        </dir>
        <dir
          name="esbuild">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="escalade">
          <dir
            name="dist"/>
          <dir
            name="sync"/>
        </dir>
        <dir
          name="escape-html"/>
        <dir
          name="etag"/>
        <dir
          name="express">
          <dir
            name="lib">
            <dir
              name="middleware"/>
            <dir
              name="router"/>
          </dir>
        </dir>
        <dir
          name="finalhandler"/>
        <dir
          name="forwarded"/>
        <dir
          name="fresh"/>
        <dir
          name="function-bind">
          <dir
            name="test"/>
        </dir>
        <dir
          name="get-caller-file"/>
        <dir
          name="get-intrinsic">
          <dir
            name="test"/>
        </dir>
        <dir
          name="get-proto">
          <dir
            name="test"/>
        </dir>
        <dir
          name="get-tsconfig">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="gopd">
          <dir
            name="test"/>
        </dir>
        <dir
          name="has-flag"/>
        <dir
          name="has-symbols">
          <dir
            name="test">
            <dir
              name="shams"/>
          </dir>
        </dir>
        <dir
          name="hasown"/>
        <dir
          name="http-errors"/>
        <dir
          name="iconv-lite">
          <dir
            name="encodings"/>
          <dir
            name="lib"/>
        </dir>
        <dir
          name="inherits"/>
        <dir
          name="ipaddr.js">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="is-fullwidth-code-point"/>
        <dir
          name="isarray"/>
        <dir
          name="js-tokens"/>
        <dir
          name="jsonwebtoken">
          <dir
            name="lib"/>
          <dir
            name="node_modules">
            <dir
              name="ms"/>
          </dir>
        </dir>
        <dir
          name="jwa"/>
        <dir
          name="jws">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="kareem"/>
        <dir
          name="lodash.includes"/>
        <dir
          name="lodash.isboolean"/>
        <dir
          name="lodash.isinteger"/>
        <dir
          name="lodash.isnumber"/>
        <dir
          name="lodash.isplainobject"/>
        <dir
          name="lodash.isstring"/>
        <dir
          name="lodash.once"/>
        <dir
          name="loose-envify"/>
        <dir
          name="math-intrinsics">
          <dir
            name="constants"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="media-typer"/>
        <dir
          name="memory-pager"/>
        <dir
          name="merge-descriptors"/>
        <dir
          name="methods"/>
        <dir
          name="mime">
          <dir
            name="src"/>
        </dir>
        <dir
          name="mime-db"/>
        <dir
          name="mime-types"/>
        <dir
          name="minimist">
          <dir
            name="example"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="mkdirp">
          <dir
            name="bin"/>
        </dir>
        <dir
          name="mongodb">
          <dir
            name="etc"/>
          <dir
            name="lib">
            <dir
              name="bulk"/>
            <dir
              name="client-side-encryption">
              <dir
                name="providers"/>
            </dir>
            <dir
              name="cmap">
              <dir
                name="auth">
                <dir
                  name="mongodb_oidc"/>
              </dir>
              <dir
                name="handshake"/>
              <dir
                name="wire_protocol">
                <dir
                  name="on_demand"/>
              </dir>
            </dir>
            <dir
              name="cursor"/>
            <dir
              name="gridfs"/>
            <dir
              name="operations">
              <dir
                name="client_bulk_write"/>
              <dir
                name="search_indexes"/>
            </dir>
            <dir
              name="sdam"/>
          </dir>
          <dir
            name="src">
            <dir
              name="bulk"/>
            <dir
              name="client-side-encryption">
              <dir
                name="providers"/>
            </dir>
            <dir
              name="cmap">
              <dir
                name="auth">
                <dir
                  name="mongodb_oidc"/>
              </dir>
              <dir
                name="handshake"/>
              <dir
                name="wire_protocol">
                <dir
                  name="on_demand"/>
              </dir>
            </dir>
            <dir
              name="cursor"/>
            <dir
              name="gridfs"/>
            <dir
              name="operations">
              <dir
                name="client_bulk_write"/>
              <dir
                name="search_indexes"/>
            </dir>
            <dir
              name="sdam"/>
          </dir>
        </dir>
        <dir
          name="mongodb-connection-string-url">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="mongoose">
          <dir
            name="dist"/>
          <dir
            name="lib">
            <dir
              name="cast"/>
            <dir
              name="cursor"/>
            <dir
              name="drivers">
              <dir
                name="browser"/>
              <dir
                name="node-mongodb-native"/>
            </dir>
            <dir
              name="error"/>
            <dir
              name="helpers">
              <dir
                name="aggregate"/>
              <dir
                name="cursor"/>
              <dir
                name="discriminator"/>
              <dir
                name="document"/>
              <dir
                name="error"/>
              <dir
                name="indexes"/>
              <dir
                name="model"/>
              <dir
                name="path"/>
              <dir
                name="populate"/>
              <dir
                name="projection"/>
              <dir
                name="query"/>
              <dir
                name="schema"/>
              <dir
                name="schematype"/>
              <dir
                name="timestamps"/>
              <dir
                name="topology"/>
              <dir
                name="update"/>
            </dir>
            <dir
              name="options"/>
            <dir
              name="plugins"/>
            <dir
              name="schema">
              <dir
                name="operators"/>
            </dir>
            <dir
              name="types">
              <dir
                name="array">
                <dir
                  name="methods"/>
              </dir>
              <dir
                name="documentArray">
                <dir
                  name="methods"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="node_modules">
            <dir
              name="ms"/>
          </dir>
          <dir
            name="types"/>
        </dir>
        <dir
          name="mpath">
          <dir
            name="lib"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="mquery">
          <dir
            name="lib">
            <dir
              name="collection"/>
          </dir>
          <dir
            name="node_modules">
            <dir
              name="debug">
              <dir
                name="src"/>
            </dir>
            <dir
              name="ms"/>
          </dir>
        </dir>
        <dir
          name="ms"/>
        <dir
          name="multer">
          <dir
            name="lib"/>
          <dir
            name="storage"/>
        </dir>
        <dir
          name="negotiator">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="object-assign"/>
        <dir
          name="object-inspect">
          <dir
            name="example"/>
          <dir
            name="test">
            <dir
              name="browser"/>
          </dir>
        </dir>
        <dir
          name="on-finished"/>
        <dir
          name="parseurl"/>
        <dir
          name="path-to-regexp"/>
        <dir
          name="process-nextick-args"/>
        <dir
          name="proxy-addr"/>
        <dir
          name="punycode"/>
        <dir
          name="qs">
          <dir
            name="dist"/>
          <dir
            name="lib"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="range-parser"/>
        <dir
          name="raw-body"/>
        <dir
          name="react">
          <dir
            name="cjs"/>
          <dir
            name="umd"/>
        </dir>
        <dir
          name="react-dom">
          <dir
            name="cjs"/>
          <dir
            name="umd"/>
        </dir>
        <dir
          name="react-router">
          <dir
            name="dist">
            <dir
              name="lib"/>
            <dir
              name="umd"/>
          </dir>
        </dir>
        <dir
          name="react-router-dom">
          <dir
            name="dist">
            <dir
              name="umd"/>
          </dir>
        </dir>
        <dir
          name="readable-stream">
          <dir
            name="lib">
            <dir
              name="internal">
              <dir
                name="streams"/>
            </dir>
          </dir>
          <dir
            name="node_modules">
            <dir
              name="safe-buffer"/>
          </dir>
        </dir>
        <dir
          name="require-directory"/>
        <dir
          name="resolve-pkg-maps">
          <dir
            name="dist"/>
        </dir>
        <dir
          name="rxjs">
          <dir
            name="dist">
            <dir
              name="bundles"/>
            <dir
              name="cjs">
              <dir
                name="ajax"/>
              <dir
                name="fetch"/>
              <dir
                name="internal">
                <dir
                  name="ajax"/>
                <dir
                  name="observable">
                  <dir
                    name="dom"/>
                </dir>
                <dir
                  name="operators"/>
                <dir
                  name="scheduled"/>
                <dir
                  name="scheduler"/>
                <dir
                  name="symbol"/>
                <dir
                  name="testing"/>
                <dir
                  name="util"/>
              </dir>
              <dir
                name="operators"/>
              <dir
                name="testing"/>
              <dir
                name="webSocket"/>
            </dir>
            <dir
              name="esm">
              <dir
                name="ajax"/>
              <dir
                name="fetch"/>
              <dir
                name="internal">
                <dir
                  name="ajax"/>
                <dir
                  name="observable">
                  <dir
                    name="dom"/>
                </dir>
                <dir
                  name="operators"/>
                <dir
                  name="scheduled"/>
                <dir
                  name="scheduler"/>
                <dir
                  name="symbol"/>
                <dir
                  name="testing"/>
                <dir
                  name="util"/>
              </dir>
              <dir
                name="operators"/>
              <dir
                name="testing"/>
              <dir
                name="webSocket"/>
            </dir>
            <dir
              name="esm5">
              <dir
                name="ajax"/>
              <dir
                name="fetch"/>
              <dir
                name="internal">
                <dir
                  name="ajax"/>
                <dir
                  name="observable">
                  <dir
                    name="dom"/>
                </dir>
                <dir
                  name="operators"/>
                <dir
                  name="scheduled"/>
                <dir
                  name="scheduler"/>
                <dir
                  name="symbol"/>
                <dir
                  name="testing"/>
                <dir
                  name="util"/>
              </dir>
              <dir
                name="operators"/>
              <dir
                name="testing"/>
              <dir
                name="webSocket"/>
            </dir>
            <dir
              name="types">
              <dir
                name="ajax"/>
              <dir
                name="fetch"/>
              <dir
                name="internal">
                <dir
                  name="ajax"/>
                <dir
                  name="observable">
                  <dir
                    name="dom"/>
                </dir>
                <dir
                  name="operators"/>
                <dir
                  name="scheduled"/>
                <dir
                  name="scheduler"/>
                <dir
                  name="symbol"/>
                <dir
                  name="testing"/>
                <dir
                  name="util"/>
              </dir>
              <dir
                name="operators"/>
              <dir
                name="testing"/>
              <dir
                name="webSocket"/>
            </dir>
          </dir>
          <dir
            name="src">
            <dir
              name="ajax"/>
            <dir
              name="fetch"/>
            <dir
              name="internal">
              <dir
                name="ajax"/>
              <dir
                name="observable">
                <dir
                  name="dom"/>
              </dir>
              <dir
                name="operators"/>
              <dir
                name="scheduled"/>
              <dir
                name="scheduler"/>
              <dir
                name="symbol"/>
              <dir
                name="testing"/>
              <dir
                name="util"/>
            </dir>
            <dir
              name="operators"/>
            <dir
              name="testing"/>
            <dir
              name="webSocket"/>
          </dir>
        </dir>
        <dir
          name="safe-buffer"/>
        <dir
          name="safer-buffer"/>
        <dir
          name="scheduler">
          <dir
            name="cjs"/>
          <dir
            name="umd"/>
        </dir>
        <dir
          name="semver">
          <dir
            name="bin"/>
          <dir
            name="classes"/>
          <dir
            name="functions"/>
          <dir
            name="internal"/>
          <dir
            name="ranges"/>
        </dir>
        <dir
          name="send">
          <dir
            name="node_modules">
            <dir
              name="ms"/>
          </dir>
        </dir>
        <dir
          name="serve-static"/>
        <dir
          name="setprototypeof">
          <dir
            name="test"/>
        </dir>
        <dir
          name="shell-quote">
          <dir
            name="test"/>
        </dir>
        <dir
          name="side-channel">
          <dir
            name="test"/>
        </dir>
        <dir
          name="side-channel-list">
          <dir
            name="test"/>
        </dir>
        <dir
          name="side-channel-map">
          <dir
            name="test"/>
        </dir>
        <dir
          name="side-channel-weakmap">
          <dir
            name="test"/>
        </dir>
        <dir
          name="sift">
          <dir
            name="es"/>
          <dir
            name="es5m"/>
          <dir
            name="lib"/>
          <dir
            name="src"/>
        </dir>
        <dir
          name="sparse-bitfield"/>
        <dir
          name="statuses"/>
        <dir
          name="streamsearch">
          <dir
            name="lib"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="string-width"/>
        <dir
          name="string_decoder">
          <dir
            name="lib"/>
          <dir
            name="node_modules">
            <dir
              name="safe-buffer"/>
          </dir>
        </dir>
        <dir
          name="strip-ansi"/>
        <dir
          name="supports-color"/>
        <dir
          name="toidentifier"/>
        <dir
          name="tr46">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="tree-kill"/>
        <dir
          name="tslib">
          <dir
            name="modules"/>
        </dir>
        <dir
          name="tsx">
          <dir
            name="dist">
            <dir
              name="cjs">
              <dir
                name="api"/>
            </dir>
            <dir
              name="esm">
              <dir
                name="api"/>
            </dir>
          </dir>
          <dir
            name="node_modules">
            <dir
              name="esbuild">
              <dir
                name="lib"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="type-is"/>
        <dir
          name="typedarray">
          <dir
            name="example"/>
          <dir
            name="test">
            <dir
              name="server"/>
          </dir>
        </dir>
        <dir
          name="unpipe"/>
        <dir
          name="util-deprecate"/>
        <dir
          name="utils-merge"/>
        <dir
          name="validator">
          <dir
            name="es">
            <dir
              name="lib">
              <dir
                name="util"/>
            </dir>
          </dir>
          <dir
            name="lib">
            <dir
              name="util"/>
          </dir>
        </dir>
        <dir
          name="vary"/>
        <dir
          name="webidl-conversions">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="whatwg-url">
          <dir
            name="lib"/>
        </dir>
        <dir
          name="wrap-ansi"/>
        <dir
          name="xtend"/>
        <dir
          name="y18n">
          <dir
            name="build">
            <dir
              name="lib">
              <dir
                name="platform-shims"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="yargs">
          <dir
            name="build">
            <dir
              name="lib">
              <dir
                name="typings"/>
              <dir
                name="utils"/>
            </dir>
          </dir>
          <dir
            name="helpers"/>
          <dir
            name="lib">
            <dir
              name="platform-shims"/>
          </dir>
        </dir>
        <dir
          name="yargs-parser">
          <dir
            name="build">
            <dir
              name="lib"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="public">
        <dir
          name="build"/>
        <dir
          name="styles"/>
      </dir>
      <dir
        name="scripts"/>
      <dir
        name="server">
        <dir
          name="config"/>
        <dir
          name="controllers"/>
        <dir
          name="middleware"/>
        <dir
          name="models"/>
        <dir
          name="routes"/>
        <dir
          name="ssr"/>
        <dir
          name="utils"/>
      </dir>
      <dir
        name="src">
        <dir
          name="components"/>
        <dir
          name="context"/>
        <dir
          name="lib"/>
        <dir
          name="pages"/>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Python"/>
    <language
      name="Web"/>
    <language_options
      useLanguagesAsFilter="true"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <codecheck_options/>
  <comparison_options
    comparison_db=""
    git_repo="."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <mcp_options
    enabled="false"
    allow_reparse="always"
    allow_ui_interaction="always"/>
  <imports/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532"/>
  <python_options
    assume_nearest_matches="false"
    assume_single_choices="false"
    ignore_import_errors_in_try_blocks="false"
    save_comments_associated_with_entities="true"
    mUseBuiltinStandard="true"
    mUseInstalledStandard="false"
    version="Python3"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="8.3"/>
</project>
